*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
html,body{
    height: 100%;
    width: 100%;
}

.container{
    width: 100%;
    height: 100%;

}

h1{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: sticky;
    top: 0px;
    z-index: 1;
    box-shadow: 0px 0px 1px rgb(0, 0, 0, 0.05);
}

.songs{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(6,0fr);
    gap: 16px;
}

.songs img{
    width: 20vw;
    height: 24vh;
    object-fit: contain;
    
}

.songs a{
    width: 15vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 4px rgb(0, 0, 0);
    text-decoration: none;
    color: black;
}

.songs a:hover{
    border: 1px solid black;

}

.songs p{
    text-align: center;
    border: 1px solid black;
    width: 140px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

@media (max-width: 600px) {

    .container h1{
        height: 40px;
        font-size: 20px;
    }

    .songs{
        display: grid;
        grid-template-columns: repeat(4,0fr);
        gap: 22px;
    }
    .songs a{
        width: 20vw;
        height: 40vh;
    }

    .songs p{
        width: 80px;
        height: 20px;
        margin-top: 15px;
    }

    .songs img{
        width: 20vw;
        height: 24vh;
    }
}

@media (max-width: 500px) {

    .container h1{
        height: 40px;
        font-size: 20px;
    }

    .songs{
        display: grid;
        grid-template-columns: repeat(4,0fr);
        gap: 15px;
    }
    .songs a{
        width: 20vw;
        height: 35vh;
    }

    .songs  img {
        width: 17vw;
        height: 22vh;
    }
    .songs p{
        width: 70px;
        height: 15px;
        font-size: 10px;
        margin-top: 10px;
    }
}

@media (max-width: 400px) {

    .container h1{
        height: 40px;
        font-size: 20px;
    }

    .songs{
        display: grid;
        grid-template-columns: repeat(3,0fr);
        gap: 22px;
    }
    .songs a{
        width: 25vw;
        height: 18vh;
    }

    .songs img{
        margin-top: 12px;
        width: 20vw;
        height: 24vh;
    }
    .songs p{
        width: 70px;
        height: 15px;
        margin-bottom: 10px;
    }
}

/* @media (max-width: 350px) {

    .container h1{
        height: 40px;
        font-size: 20px;
    }

    .songs{
        display: grid;
        grid-template-columns: repeat(3,0fr);
        gap: 22px;
    }
    .songs a{
        width: 25vw;
        height: 33vh;
    }

    .songs img{
        width: 20vw;
        height: 26vh;
    }
    .songs p{
        width: 70px;
        height: 15px;
        margin-top: 0px;
    }
} */

/* @media (max-width: 300px) {

    .container h1{
        height: 40px;
        font-size: 20px;
    }
    .container{
        height: 100%;
    }

    .songs{
        display: grid;
        grid-template-columns: repeat(3,0fr);
        gap: 16px;
        padding: 15px;
    }
    .songs a{
        width: 25vw;
        height: 25vh;
    }

    .songs img{
        width: 18vw;
        height: 18vh;
    }
    .songs p{
        width: 60px;
        height: 13px;
        margin-top: 0px;
    }
} */