*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
   
}
body{
    width: 100%;
    height: 100%;
    position: relative;
    
}
.song{
    position: relative;
}

pre{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.1vw;
    line-height: 1.7rem;
    
}

h1{
    height: 60px;
    width: 100%;
    background-color: white;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px rgb(0, 0, 0,0.5);
    position: sticky;
    top: 0px;
    z-index: 1;
}


@media (max-width:700px) {
    
    .song{
        
        width: 100%;
      
        position: relative;
    }
  
    pre{
    
        height: 100%;
        width: 100%;
        line-height: 4.9vw;
        font-size: 3.4vw;
    }
}

@media (max-width:600px) {
  
    
    .song{
        
        width: 100%;
       
        position: relative;
    }
    iframe{
        width: 60vw;
        height: 30vw;
        
    }
    pre{
    
        height: 100%;
        width: 100%;
        line-height: 4.9vw;
        font-size: 3.4vw;
    }
}

@media (max-width:500px) {
   
    .song{
        
        width: 100%;
        position: relative;
    }
    iframe{
        width: 60vw;
        height: 30vw;
        
    }
    pre{
        height: 100%;
        width: 100%;
        line-height: 8vw;
        font-size: 4.2vw;
    }
    .song a{
        font-size: 6vw;
    }
}
@media (max-width:400px) {
    
    .song{
        
        width: 100%;
        height: calc(100% - 60px);
        position: relative;
    }
   
    pre{
    
        height: 100%;
        width: 100%;
        line-height: 8vw;
        font-size: 4.5vw;
    }
}
    

    

